.main_chat
  .group_info
    %p.group_info__current_group am
    %ul.group_info__member_list 
      member: 
      %li.group_info__member_list__member aa
      %li.group_info__member_list__member ac
    %a{href: '#', class: "group_info__edit_btn"} Edit
      
  .message_list
    %div.message_list__upper
      %p.message_list__upper__user_name aaaa
      %p.message_list__upper__date_info 2020/06/15(Mon) 22:28:17
    %p.message_list__message_text cc
    %div.message_list__upper
      %p.message_list__upper__user_name aaaa
      %p.message_list__upper__date_info 2020/06/15(Mon) 22:28:17
    %p.message_list__message_text cc
  .message_from
    %form.message_from__new_message
      .message_from__new_message__input_box
        %input.message_from__new_message__input_box__text
        %label.message_from__new_message__input_box__image
          = icon('fas', 'image')
          %input{type: "file", class: "message_from__new_message__input_box__image__file"}
      %button{type: "submit", class:'btn'}
        .letter
          send
          
        
      
